.btn-group {
  margin-bottom: 20px;
}

.btn-group button {
  background-color: white;
  color: #00497b;
  font-weight: bold;
  border: 2px solid #00497b;
  padding: 8px 16px;
  cursor: pointer;
  float: left;
}

.btn-group:after {
  content: '';
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group button:hover,
.active {
  background-color: #00497b !important;
  color: white !important;
}
